@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j7xmpj');
  src:  url('../fonts/icomoon.eot?j7xmpj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j7xmpj') format('truetype'),
    url('../fonts/icomoon.woff?j7xmpj') format('woff'),
    url('../fonts/icomoon.svg?j7xmpj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sk-balloon:before {
  content: "\e93c";
}
.icon-sk-line:before {
  content: "\e902";
}
.icon-tsdb-balloon:before {
  content: "\e900";
}
.icon-tsdb-line:before {
  content: "\e901";
}
.icon-sq-balloon:before {
  content: "\e903";
}
.icon-sq-line:before {
  content: "\e904";
}
.icon-swz-balloon:before {
  content: "\e905";
}
.icon-swz-line:before {
  content: "\e906";
}
.icon-sy-balloon:before {
  content: "\e907";
}
.icon-sy-line:before {
  content: "\e908";
}
.icon-sz-balloon:before {
  content: "\e909";
}
.icon-sz-line:before {
  content: "\e90a";
}
.icon-tc-balloon:before {
  content: "\e90b";
}
.icon-tc-line:before {
  content: "\e90c";
}
.icon-wzgl-balloon:before {
  content: "\e90d";
}
.icon-wzgl-line:before {
  content: "\e90e";
}
.icon-xcgj-balloon:before {
  content: "\e90f";
}
.icon-xcgj-line:before {
  content: "\e910";
}
.icon-xly-balloon:before {
  content: "\e911";
}
.icon-xly-line:before {
  content: "\e912";
}
.icon-yhcl-balloon:before {
  content: "\e913";
}
.icon-yhcl-line:before {
  content: "\e914";
}
.icon-yjsb-balloon:before {
  content: "\e915";
}
.icon-yjsb-line:before {
  content: "\e916";
}
.icon-ylz-baloon:before {
  content: "\e917";
}
.icon-ylz-line:before {
  content: "\e91a";
}
.icon-yq-balloon:before {
  content: "\e91b";
}
.icon-yq-line:before {
  content: "\e91c";
}
.icon-yxss-balloon:before {
  content: "\e91d";
}
.icon-yxss-line:before {
  content: "\e91e";
}
.icon-zm-balloon:before {
  content: "\e91f";
}
.icon-zm-line:before {
  content: "\e920";
}
.icon-qc-balloon:before {
  content: "\e918";
}
.icon-qc-line:before {
  content: "\e919";
}
.icon-qjt-balloon:before {
  content: "\e921";
}
.icon-qjt-line:before {
  content: "\e922";
}
.icon-qx-balloon:before {
  content: "\e923";
}
.icon-qx-line:before {
  content: "\e924";
}
.icon-rkfb-balloon:before {
  content: "\e925";
}
.icon-rkfb-line:before {
  content: "\e926";
}
.icon-sdz-balloon:before {
  content: "\e927";
}
.icon-sdz-line:before {
  content: "\e928";
}
.icon-shyj-balloon:before {
  content: "\e929";
}
.icon-shyj-line:before {
  content: "\e92a";
}
.icon-ll-balloon:before {
  content: "\e92b";
}
.icon-ll-line:before {
  content: "\e92c";
}
.icon-jxss-balloon:before {
  content: "\e92d";
}
.icon-jxss-line:before {
  content: "\e92e";
}
.icon-jsp-balloon:before {
  content: "\e92f";
}
.icon-jsp-line:before {
  content: "\e930";
}
.icon-jc-balloon:before {
  content: "\e931";
}
.icon-jc-line:before {
  content: "\e93d";
}
.icon-gsgx-balloon:before {
  content: "\e932";
}
.icon-gsgx-line:before {
  content: "\e933";
}
.icon-gq-balloon:before {
  content: "\e934";
}
.icon-gq-line:before {
  content: "\e935";
}
.icon-glfw-balloon:before {
  content: "\e936";
}
.icon-glfw-line:before {
  content: "\e937";
}
.icon-gggc-balloon:before {
  content: "\e938";
}
.icon-gggc-line:before {
  content: "\e939";
}
.icon-dzzh-balloon:before {
  content: "\e93a";
}
.icon-dzzh-line:before {
  content: "\e93b";
}
.icon-dt-balloon:before {
  content: "\e93e";
}
.icon-dt-line:before {
  content: "\e93f";
}
.icon-dd-balloon:before {
  content: "\e940";
}
.icon-dd-line:before {
  content: "\e941";
}
.icon-dc-line:before {
  content: "\e942";
}
.icon-dc-balloon:before {
  content: "\e943";
}
.icon-db-line:before {
  content: "\e944";
}
.icon-db-balloon:before {
  content: "\e945";
}
.icon-cm-line:before {
  content: "\e946";
}
.icon-cm-balloon:before {
  content: "\e947";
}
.icon-clfb-ine:before {
  content: "\e948";
}
.icon-clfb-balloon:before {
  content: "\e949";
}
.icon-cj-line:before {
  content: "\e94a";
}
.icon-cj-balloon:before {
  content: "\e94b";
}
.icon-bz-line:before {
  content: "\e94c";
}
.icon-bz-balloon:before {
  content: "\e94d";
}
.icon-bhfw-line:before {
  content: "\e94e";
}
.icon-bhfw-balloon:before {
  content: "\e94f";
}

